<h1>Toutes nos stars</h1>
<p>Chaque besoin à sa solution !</p>

<% @animals.each do |animal|%>
<div class="card" style="width: 18rem;">
  <img class="card-img-top" src="..." alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text"><ul>
<li><strong><%= animal.escort_name %></strong>
<%= animal.age %>
<%= animal.gender %></li>
<%= link_to "Voir cet animal", animal %>

</ul></p>
    <% end %>
  </div>
</div>

