.card-img-top {
  border-radius: 0px !important;
}

.cards {
  background-color: white;
  border-radius: 20px 20px 0px 0px;
}

.card-link {
  text-decoration: none;
  color: black;
}

.card-text {
  display: flex;
  flex-direction: column;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}

/* pop up marker*/

.img-pop {
  text-align: center;
  img{
    width: auto;
    height: 70px;
  }
}

.top-index {
  display: flex space-between;
}
/*Media Queries*/

/*Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
  #map {
    display: none;
  }
}

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
  #map {
    display: none;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  #map {
    display: block;
  }
}
