.navbar-container {
  background-color: white;
  position: sticky;
  top: 0;
  height: 70px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  z-index: 1000;
}
.logo-img {
  height: 70px;
  width: auto;
  margin-right: 10px;
}
.logo-lien {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-left: 10px;
  h4 {
    margin: 0px;
  }
}
.nav-link {
  color: black;
  justify-self: center;
  align-self: center;
  h5 {
    margin: 0px;
  }
  :hover {
    font-size: larger;
  }
}


.dropdown-toggle {
  justify-self: end;
  align-self: center;
  margin-right: 15px;
  size: 30px;
}
.navbar-brand {
  height: 70px;
  width: auto;
}
.deco {
  text-decoration: none;
}
.main-content {
  padding-top: 70px;
}
