
.main-container {
  align-items: center;
  margin: auto 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 2fr 1fr;
  grid-template-rows: auto 2fr auto;
  grid-gap: 16px;
}

.top-show {
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  height: 80px;
}
.top-show-carousel {
  grid-column: 1 / 3 ;
  grid-row: 2 / 3;
  border-radius: 5px;

  img {
    border-radius: 5px;
  }
}

.content {
  grid-column: 1 / 2;
  grid-row: 3 / 4;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr 1fr;


  .card-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    place-self: center start;
  }
  h2 .fa-solid {
    padding: 10px;
  }
  #specie {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
    place-self:  end;
    place-content: center;
  }

  #description {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
    margin: 10px;
    place-self: center;
  }

  #name {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
    place-self: center;
  }

  #gender {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    place-self: center;
  }

  #age {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    place-self: center;
  }

  #skill {
    grid-column: 1 / 4;
    grid-row: 4 / 5;
    place-self: center;
    margin: 10px;
  }
}

.form-reservation {
  grid-column: 2/ 3 ;
  grid-row: 3 / 4;
  border: 1px solid rgba(0, 0, 0, 0.236);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 350px;
  place-self: center end;
  margin-bottom: 20px;

  button {
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 3px black;
    margin-bottom: 10px;
  }

  .form-inputs {
    border: 1px solid rgba(0, 0, 0, 0.236);
    padding: 10px;
    border-radius: 10px;
    margin: 20px 30px 20px 30px;

    .input {
      border-radius: 5px;
    }
  }
}
.form-actions {
  text-align: center;
}

#skill {
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.title {
 text-align: center;
 margin: 15px;
}
