
.container {
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}



button {
  border-radius: 5px;
  padding: 10px;
  box-shadow: 2px 2px 3px black;;
}

.attributes {
  align-items: center;
  justify-content: center
}

img {
  border-radius: 20px !important;
  box-shadow: 2px 4px 10px black;
}

.card {
  border-radius: 20px 20px 0px 0px;
}
