<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://st2.depositphotos.com/1005730/11350/i/450/depositphotos_113506110-stock-photo-doe-in-a-grass-on.jpg);">
  <div class="container">
    <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
    <p>

    </p>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>
