<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner-syja.png' %>)">
  <div class="baseline-container">
    <h1 class="main-title"><strong> S Y J A </strong> </h1>
      <h2 class="second-title">Parce qu'un animal, c'est bien plus qu'un compagnon!</h2>
    <p class="main-subtitle">
      Trouvez une solution originale à tous vos besoins grâce à nos animaux d'élite !
    </p>
  </div>


  <%= link_to animals_path, style: "text-decoration: none;", class: "button-link" do %>
    <button class="button-64" role="button"><span>Découvrez-les !</span></button>
  <% end %>


</div>
