<div class="banner " style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'banner-syja.png' %>)">
  <div class="container text-center baseline">
    <h1 class="main-title p-3"><strong>Best biche</strong>
      <br>Parce qu'un animal, c'est bien plus qu'un compagnon!</h1>
    <p class="main-subtitle text-white mw-75 mb-3">
      Trouvez une solution originale à tous vos besoins grâce à nos animaux d'élite !
      </p>

    <%= link_to animals_path, style: "text-decoration: none;" do %>
    <button class="button-64" role="button"><span class="text">Voir nos stars</span></button>
    <% end %>
  </div>
</div>
